.App {
  text-align: center;
  font-weight: 300;
  color: #5B5B5B;
  font-family: 'Poppins', sans-serif;
}

#title {
  font-weight: 400;
  font-size: 2.5rem;
}

button {
  font-family: "Poppins";
}

.logo {
  height: 30px;
}

p {
  margin: 0;
  color: #2c2c2c;
}
