.link-card {
  display: grid;
  grid-template-columns: 5% 55% 25% 15%;
  align-items: center;
  margin: 10px;
  border-bottom: 2px solid #afafaf;
  padding-bottom: 7px;
}

.link {
  text-align: left;
}

.link-title {
  font-size: 1.25rem;
  text-decoration: none;
  word-break: break-all;
}

.committee {
  font-size: 1.25rem;
  text-align: left;
}

.success {
  font-size: 1.25rem;
  color: #009c22;
  text-align: left;
}

.fail {
  font-size: 1.25rem;
  color: #f44646;
  text-align: left;
}
